<footer class="flex justify-center h-32 py-4 bg-gray-300 bg-opacity-50 backdrop-blur mt-auto text-slate-500">
  <div class="flex flex-col items-center justify-evenly">
    <p>Guestbook app by Ohto Eronen</p>
    <a href="https://github.com/ohtero/guestbook" class="underline underline-offset-2">Github</a>
  </div>
</footer>