<form action="/newmessage" method="post" class="flex flex-col">
  <div class="flex">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" maxlength="50" required>
  </div>
  <div class="flex">
      <label for="country">Country:</label>
      <input type="text" name="country" id="country" maxlength="50" required>
  </div>
  <div class="flex">
      <label for="message">Message:</label>
      <textarea rows="10" name="message" id="message" maxlength="500"></textarea>
  </div>
  <input type="submit" value="submit">
</form>
<button value="submit" id="testi">testi</button>