    <div class=" bg-gradient-to-r from-sky-700 to-transparent">
        <h1 class="text-9xl font-extrabold text-sky-100  leading-[6.7rem] drop-shadow-[2px_2px_5px_rgba(0,0,0,0.25)]">Guestbook</h1>
    </div>
