<nav class="flex w-full justify-center py-4 bg-sky-100 divide-x-2 divide-slate-500 shadow-lg sticky top-0 z-10">
  <a href="/" class="px-4 underline uppercase font-bold tracking-wide text-slate-700 underline-offset-8">Home</a>
  <a href="/guestbook" class="px-4 underline uppercase font-bold tracking-wide text-slate-700 underline-offset-8">Guestbook</a>
  <a href="/newmessage" class="px-4 underline uppercase font-bold tracking-wide text-slate-700 underline-offset-8">Leave a message</a>
  <a href="/ajaxmessage" class="px-4 underline uppercase font-bold tracking-wide text-slate-700 underline-offset-8">Leave a message with AJAX</a>
</nav>