* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: #234;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Utility classes */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
justify-content: center;
align-items: center;
}

/* Main styles */


h1 {
    margin: 3rem 0;
}

nav {

    background: #aaa;
    width: 100%;
    padding: 0.5rem;
    gap: 1rem;
    border: solid #755 2px;
}

nav > *::before,::after {
    cursor: default;
    color: black;   
}

nav > *::before {
    content: "|";
    padding-right: 1rem;
}

nav > :last-child::after{
    content: "|";
    padding-left: 1rem;
}


.messages-wrapper {
    width: 30%;
}

.message {
    background: #fff;
    border-radius: 5px;
    box-shadow: black 0px 0px 15px 2px;
    gap: 0.5rem;
    padding: 1.5rem;
    margin: 2rem 0;
}

.posterMessage {
    border-top: solid 1px;
    padding-top: .5rem;
}